@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$black: #131313;
$light-black: #222222;
$grey: #535353;
$light-grey: #898989;
$white: #f6f6f6;
$orange: #fd8235;
$glass: rgba(255, 255, 255, 0.027);
@mixin space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin align-start {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue";
}
html,
body {
  height: 100%;
  width: 100%;
}

.main {
  width: 100%;
  background-color: $black;
  padding: 2% 5%;
  font-family: bebas;
}

.nav {
  width: 100%;
  height: 15%;
  border-radius: 4rem;
  background-color: $white;
  color: $black;
  padding: 2% 4%;
  @include space-between();
}

.nav-left {
  width: 100%;
  height: 50%;
  font-size: 3vw;
  text-transform: uppercase;
}

.nav-right {
  width: 100%;
  height: 50%;
  @include space-between();

  a {
    text-decoration: none;
    color: $black;
    font-size: 1.5rem;
    text-align: center;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      padding: 1rem 2rem;
      color: $white;
      background-color: $orange;
      border-radius: 2rem;
    }

    &:nth-child(5) {
      padding: 0.5rem 1rem;
      color: $black;
      background-color: $orange;
      border-radius: 2rem;
    }
    &:nth-child(5):hover {
      padding: 1rem 2rem;
      color: $white;
    }
  }
}

.hero {
  background-color: $white;
  width: 100%;
  margin-top: 3vw;
  padding: 2vw 4vw;
  border-radius: 4rem;

  h2 {
    text-transform: uppercase;
    font-size: 3vw;
    padding: 1vw 0;
    border-bottom: 2px solid $black;
  }
}

.main-text {
  margin-top: 2vw;
  width: 100%;
  height: 10%;
  @include align-start();
}

.text-top {
  display: flex;
  gap: 2rem;
  align-items: center;
  img {
    width: 18%;
    padding: 1rem;
    border-radius: 2rem;
    border: 2px dashed $orange;
  }
}

.text-bottom {
  display: flex;
  gap: 2rem;
  align-items: center;

  p {
    width: 22%;
    font-weight: 500;
    font-family: montserrat;
  }
}

h1 {
  font-size: 8vw;
  letter-spacing: 3px;

  span {
    padding: 0 0.5rem;
    border: 2px solid $orange;
    border-style: dashed;
    img {
      width: 3%;
      height: 2%;
    }
  }
}

.text-left {
  width: 70%;
}

.text-right {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  gap: 9rem;
  width: 30%;
  height: 100%;
  padding-right: 2rem;
  gap: 9rem;

  .img-container {
    display: flex;
    align-items: center;
    justify-content: end;
    img {
      width: 70%;
      height: fit-content;
    }
  }

  h3 {
    padding: 1rem 2rem;
    font-size: 3vw;
    color: $white;
    background-color: $orange;
    border-radius: 2rem;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    &:hover {
      padding: 2rem 3rem;
      background-color: $black;
      color: $orange;
      cursor: pointer;
    }
  }
}

.img-left {
  width: 33%;
}

.img-section {
  margin-top: 6vw;
  display: flex;
  gap: 2rem;

  .img-text-cont-1 {
    background-color: $black;
    padding: 0.5rem;
    border-radius: 2rem;

    .img-wrapper-1 {
      width: 100%;
      height: 300px;
      img {
        border-radius: 2rem;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    h6 {
      margin-top: 1rem;
      font-size: 2rem;
      text-align: center;
      color: $white;
      letter-spacing: 5px;
    }
  }
}

.btn {
  margin-top: 5vw;
  display: flex;
  color: $white;
  justify-content: space-between;

  :nth-child(2) {
    background-color: $orange;
    padding: 0.5rem 3rem;
  }
  .ri-emotion-happy-fill {
    padding: 0.5rem;
    border-radius: 50%;
    font-size: 3rem;
    background-color: $black;
  }
  h6 {
    background-color: $black;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    font-weight: 300;
  }
}

.img-right {
  width: 62%;
  padding: 0.5rem;
  background-color: $black;
  border-radius: 2rem;

  .img-text-cont-2 {
    background-image: url(./assets/img/model-2.avif);
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 0 3rem;

    :nth-child(1) {
      opacity: 40%;
    }
    :nth-child(3) {
      opacity: 70%;
    }
  }
  h3 {
    font-size: 4vw;
    color: $white;
    font-weight: 500;
  }
}

.brands {
  margin-top: 4vw;
  width: 100%;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;

  img {
    height: 80%;
    width: auto;
    object-fit: contain;
    filter: brightness(0) invert(1);
    opacity: 0.9;
    transition: 0.3s ease;

    &:nth-child(2) {
      height: 150%;
    }
    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

.facilities {
  margin-top: 2vw;

  .faci-top {
    display: flex;
    justify-content: space-between;
  }

  .faci-text {
    width: 60%;
  }

  .faci-btn {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .arrow-btn {
      width: 4rem;
      height: 4rem;
      background-color: $orange;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      cursor: pointer;
      transition: all 0.4s ease;

      i {
        color: $white;
        font-size: 1.5rem;
        transition: transform 0.3s ease;
      }

      &:hover {
        transform: scale(2.1);
      }

      &:hover::after {
        content: "";
        position: absolute;
        inset: -0.5rem;
        border: 2px solid $orange;

        border-radius: 50%;
        opacity: 0.7;
        animation: ring 0.5s ease forwards;
      }
    }

    @keyframes ring {
      0% {
        transform: scale(0.8);
        opacity: 0;
      }
      100% {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }

  h2 {
    font-size: 5rem;
    color: $white;
  }
  p {
    width: 65%;
    line-height: 2.2rem;
    font-size: 1.3rem;
    font-family: montserrat;
    color: $white;
    letter-spacing: 1px;
    text-transform: capitalize;
  }
}

.card-cont {
  margin: 5vw 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;

  .card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: start;
    background-color: $light-black;
    border-radius: 2rem;
    position: relative;
    padding: 6rem 3rem;
    width: fit-content;

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1rem;
      line-height: normal;
      width: 100%;
    }

    i {
      font-size: 6rem;
      color: $grey;
    }
    .card-btn {
      position: absolute;
      bottom: -10%;
      left: 25%;
      border-radius: 50%;
      padding: 1rem 1rem;
      background-color: $orange;
      width: fit-content;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:hover {
        background-color: #131313;
        cursor: pointer;
        transform: scale(1.55);
        border: 1px solid $orange;
        i,
        h6 {
          color: $orange;
        }
      }

      i {
        font-size: 2rem;
        color: $white;
      }
      h6 {
        font-size: 2rem;
        color: $white;
      }
    }
  }
}

#two {
  border-radius: 2rem;
  padding: 1rem 2rem;
}

#orange {
  i {
    color: $orange;
  }
}

.fitness-class {
  width: 100%;
  padding: 6rem 0;
  h2 {
    color: $white;
    font-size: 6rem;
    text-align: center;
  }
  .fit-top {
    display: flex;
    justify-content: space-between;
    padding: 3rem 10rem;
    h6 {
      position: relative;
      color: $white;
      font-size: 2rem;
      letter-spacing: 2px;
      cursor: pointer;
      display: inline-block;

      .line {
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 2px;
        width: 0;
        background-color: orange;
        transition: width 0.3s ease;
      }

      &:hover {
        .line {
          width: 100%;
        }
      }
    }
  }

  .fit-bottom {
    display: flex;
    gap: 2rem;
    padding: 5rem 0;

    .aside {
      width: 12%;
      display: flex;
      gap: 15rem;
      align-items: center;
      flex-direction: column;
      background-color: $light-black;
      border-radius: 2rem;
      padding: 3rem 1rem;

      i,
      h5 {
        color: $white;
        font-size: 3.5rem;
      }
      h5 {
        rotate: -90deg;
        margin-bottom: 5vw;
        letter-spacing: 1px;
      }
    }

    .center {
      width: 55%;
      background-color: $white;
      padding: 0.5rem;
      border-radius: 2rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 2rem;
      }
    }

    .right {
      width: 30%;
      padding-left: 2.5rem;
      h5 {
        color: $white;
        font-size: 3.5rem;
      }
      p {
        margin-top: 2rem;
        font-size: 1.3rem;
        text-transform: capitalize;
        color: $white;
        font-family: Montserrat;
      }
      .img-cont {
        display: flex;
        align-items: center;
        gap: 2rem;
        width: 100%;
        margin-top: 4rem;

        img {
          width: 6.5vw;
          height: 6.5vw;
          border-radius: 50%;
          border: 4px solid $white;
          object-fit: cover;
          transition: all 0.4s ease;
          cursor: pointer;

          &:hover {
            border-color: $orange;
            transform: scale(1.7);
          }
        }
      }
    }
  }
}

.qoute {
  width: 100%;
  padding: 2rem 5rem;
  text-align: center;
  position: relative;
  z-index: 0;

  h3 {
    letter-spacing: 2px;
    color: $white;
    font-size: 5rem;
    position: relative;
    z-index: 2;
    line-height: 1.4;

    span {
      img {
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border-radius: 50%;
        object-position: center;
        vertical-align: middle;
      }
    }
  }

  .star {
    width: 12rem;
    position: absolute;
    top: -9%;
    right: 5%;
    z-index: 1;
  }
}

.img-container-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;

  .sec-left {
    flex: 1;

    .img {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      height: 40vw;
      border: 1rem solid $white;
      border-radius: 3rem;
      margin: 2rem 0;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:nth-child(1) {
        background-image: url(./assets/img/model08.avif);
        background-size: cover;
        background-position: center;
      }
      &:nth-child(2) {
        background-image: url(./assets/img/model-4.jpg);
        background-size: cover;
        background-position: center 30%;
      }
      &:hover {
        border: 1rem solid $orange;
        cursor: pointer;
      }
    }
  }
  .sec-right {
    margin-top: 24rem;
    flex: 1;
    width: 50%;
    .img {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      height: 40vw;
      border: 1rem solid $white;
      border-radius: 3rem;
      margin: 2rem 0;
      transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
      &:nth-child(1) {
        background-image: url(./assets/img/model-5.jpg);
        background-size: cover;
        background-position: center 70%;
      }
      &:nth-child(2) {
        background-image: url(./assets/img/model-7.jpg);
        background-size: cover;
        background-position: center 35%;
      }
      &:hover {
        border: 1rem solid $orange;
        cursor: pointer;
      }
    }
  }
}

.text {
  width: 100%;
  height: 25%;
  background-color: $glass;
  backdrop-filter: blur(5px);
  padding: 0rem 2rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h4 {
    font-size: 4rem;
    color: $white;
    letter-spacing: 2px;
  }
  p {
    font-size: 1.5rem;
    color: $white;
    font-family: Montserrat;
    letter-spacing: 0px;
    text-transform: capitalize;
  }
}

.plan {
  background-color: $white;
  padding: 6rem 1rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  h2 {
    font-size: 6rem;
    color: $black;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
    font-family: Montserrat;
    text-transform: capitalize;
  }
}
